.App {
  text-align: center;
}

.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(99, 116, 192);
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav ul {
  margin: 0;
  padding: 0;
}

.sidenav li{
  list-style-type: none;
 
}

.sidenav a:hover {
  color: #b9b4b4;
  text-decoration: none;
}

.main {
  margin-left: 160px;
  padding: 20px 10px;
}

.selected-item {
  background-color: rgb(226, 177, 86);
  padding: 20px;
}